name: ModestaCSS
title: ModestaCSS

domain: "https://modesta.alexflipnote.xyz"
baseurl: ""
url: "https://modesta.alexflipnote.xyz"
encoding: utf-8

include: ['_pages', '_pages/docs', '_pages/examples']
exclude: ['scss']

markdown: kramdown

kramdown:
  auto_ids:       true
  entity_output:  as_char
  toc_levels:     1..6
  smart_quotes:   lsquo,rsquo,ldquo,rdquo
  input:          GFM
  hard_wrap:      false
  footnote_nr:    1
  show_warnings:  false
