@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
.column, .columns, .container, .u-full-width {
  width: 100%;
  box-sizing: border-box; }

h1, h2, h3 {
  letter-spacing: -.1rem; }

body, h6 {
  line-height: 1.6; }

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }

ol, p, ul {
  margin-top: 0; }

.column, .columns {
  float: left; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  font-weight: 400;
  font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4rem;
  line-height: 1.2; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25; }

h3 {
  font-size: 3rem;
  line-height: 1.3; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  letter-spacing: 0; }

@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column, .columns {
    margin-left: 4%; }

  .column:first-child, .columns:first-child {
    margin-left: 0; }

  .one.column, .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  .offset-by-one.column, .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 78%; }

  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column, .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column, .offset-by-one-half.columns {
    margin-left: 52%; }

  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 4.2rem; }

  h3 {
    font-size: 3.6rem; }

  h4 {
    font-size: 3rem; }

  h5 {
    font-size: 2.4rem; }

  h6 {
    font-size: 1.5rem; } }
a {
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }

.button, button, input[type=submit], input[type=reset], input[type=button] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:focus, .button:hover, button:focus, button:hover, input[type=submit]:focus, input[type=submit]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=button]:focus, input[type=button]:hover {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary, button.button-primary, input[type=submit].button-primary, input[type=reset].button-primary, input[type=button].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.button.button-primary:focus, .button.button-primary:hover, button.button-primary:focus, button.button-primary:hover, input[type=submit].button-primary:focus, input[type=submit].button-primary:hover, input[type=reset].button-primary:focus, input[type=reset].button-primary:hover, input[type=button].button-primary:focus, input[type=button].button-primary:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

input[type=tel], input[type=url], input[type=password], input[type=email], input[type=number], input[type=search], input[type=text], select, textarea {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type=tel], input[type=url], input[type=password], input[type=email], input[type=number], input[type=search], input[type=text], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type=tel]:focus, input[type=url]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=search]:focus, input[type=text]:focus, select:focus, textarea:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label, legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type=checkbox], input[type=radio] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: 400; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0; }

ol ol, ol ul, ul ol, ul ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

.button, button, li {
  margin-bottom: 1rem; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

td, th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

td:first-child, th:first-child {
  padding-left: 0; }

td:last-child, th:last-child {
  padding-right: 0; }

fieldset, input, select, textarea {
  margin-bottom: 1.5rem; }

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 2.5rem; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; }

html, body {
  background: #181818;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0; }

.center-text {
  text-align: center; }

.alizarin {
  background-color: #e74c3c; }

.amethyst {
  background-color: #9b59b6; }

.asbestos {
  background-color: #7f8c8d; }

.belize-hole {
  background-color: #2980b9; }

.black {
  background-color: #000; }

.carrot {
  background-color: #e67e22; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.emerald {
  background-color: #2ecc71; }

.green-sea {
  background-color: #16a085; }

.midnight-blue {
  background-color: #2c3e50; }

.nephritis {
  background-color: #27ae60; }

.orange {
  background-color: #f39c12; }

.peter-river {
  background-color: #3498db; }

.pomegranate {
  background-color: #c0392b; }

.pumpkin {
  background-color: #d35400; }

.silver {
  background-color: #7f8c8d; }

.sun-flower {
  background-color: #f1c40f; }

.turquoise {
  background-color: #1abc9c; }

.wet-asphalt {
  background-color: #34495e; }

.white {
  background-color: #fff; }

.wisteria {
  background-color: #8e44ad; }

.alizarin-text {
  color: #e74c3c; }

.amethyst-text {
  color: #9b59b6; }

.asbestos-text {
  color: #7f8c8d; }

.belize-hole-text {
  color: #2980b9; }

.black-text {
  color: #000; }

.carrot-text {
  color: #e67e22; }

.clouds-text {
  color: #ecf0f1; }

.concrete-text {
  color: #95a5a6; }

.emerald-text {
  color: #2ecc71; }

.green-sea-text {
  color: #16a085; }

.midnight-blue-text {
  color: #2c3e50; }

.nephritis-text {
  color: #27ae60; }

.orange-text {
  color: #f39c12; }

.peter-river-text {
  color: #3498db; }

.pomegranate-text {
  color: #c0392b; }

.pumpkin-text {
  color: #d35400; }

.silver-text {
  color: #7f8c8d; }

.sun-flower-text {
  color: #f1c40f; }

.turquoise-text {
  color: #1abc9c; }

.wet-asphalt-text {
  color: #34495e; }

.white-text {
  color: #fff; }

.wisteria-text {
  color: #8e44ad; }

@-webkit-keyframes button-enter {
  from {
    transform: translateY(2em);
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    opacity: 0; }
  70% {
    transform: translateY(-0.3em);
    -webkit-transform: translateY(-0.3em);
    -ms-transform: translateY(-0.3em);
    -moz-transform: translateY(-0.3em);
    -o-transform: translateY(-0.3em); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes button-enter {
  from {
    transform: translateY(2em);
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    opacity: 0; }
  70% {
    transform: translateY(-0.3em);
    -webkit-transform: translateY(-0.3em);
    -ms-transform: translateY(-0.3em);
    -moz-transform: translateY(-0.3em);
    -o-transform: translateY(-0.3em); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1; } }
@-o-keyframes button-enter {
  from {
    transform: translateY(2em);
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    opacity: 0; }
  70% {
    transform: translateY(-0.3em);
    -webkit-transform: translateY(-0.3em);
    -ms-transform: translateY(-0.3em);
    -moz-transform: translateY(-0.3em);
    -o-transform: translateY(-0.3em); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1; } }
@keyframes button-enter {
  from {
    transform: translateY(2em);
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    opacity: 0; }
  70% {
    transform: translateY(-0.3em);
    -webkit-transform: translateY(-0.3em);
    -ms-transform: translateY(-0.3em);
    -moz-transform: translateY(-0.3em);
    -o-transform: translateY(-0.3em); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1; } }
.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center; }

.btn {
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  background-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin: .5em;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  .btn.alizarin {
    background-color: #e74c3c;
    filter: drop-shadow(5px 5px 0 rgba(231, 76, 60, 0.6)); }
    .btn.alizarin:hover {
      filter: drop-shadow(5px 5px 0 rgba(231, 76, 60, 0.6)) brightness(50%); }
  .btn.amethyst {
    background-color: #9b59b6;
    filter: drop-shadow(5px 5px 0 rgba(155, 89, 182, 0.6)); }
    .btn.amethyst:hover {
      filter: drop-shadow(5px 5px 0 rgba(155, 89, 182, 0.6)) brightness(50%); }
  .btn.asbestos {
    background-color: #7f8c8d;
    filter: drop-shadow(5px 5px 0 rgba(127, 140, 141, 0.6)); }
    .btn.asbestos:hover {
      filter: drop-shadow(5px 5px 0 rgba(127, 140, 141, 0.6)) brightness(50%); }
  .btn.belize-hole {
    background-color: #2980b9;
    filter: drop-shadow(5px 5px 0 rgba(41, 128, 185, 0.6)); }
    .btn.belize-hole:hover {
      filter: drop-shadow(5px 5px 0 rgba(41, 128, 185, 0.6)) brightness(50%); }
  .btn.black {
    background-color: #000;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.6)); }
    .btn.black:hover {
      filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.6)) brightness(50%); }
  .btn.carrot {
    background-color: #e67e22;
    filter: drop-shadow(5px 5px 0 rgba(230, 126, 34, 0.6)); }
    .btn.carrot:hover {
      filter: drop-shadow(5px 5px 0 rgba(230, 126, 34, 0.6)) brightness(50%); }
  .btn.clouds {
    background-color: #ecf0f1;
    filter: drop-shadow(5px 5px 0 rgba(236, 240, 241, 0.6)); }
    .btn.clouds:hover {
      filter: drop-shadow(5px 5px 0 rgba(236, 240, 241, 0.6)) brightness(50%); }
  .btn.concrete {
    background-color: #95a5a6;
    filter: drop-shadow(5px 5px 0 rgba(149, 165, 166, 0.6)); }
    .btn.concrete:hover {
      filter: drop-shadow(5px 5px 0 rgba(149, 165, 166, 0.6)) brightness(50%); }
  .btn.emerald {
    background-color: #2ecc71;
    filter: drop-shadow(5px 5px 0 rgba(46, 204, 113, 0.6)); }
    .btn.emerald:hover {
      filter: drop-shadow(5px 5px 0 rgba(46, 204, 113, 0.6)) brightness(50%); }
  .btn.green-sea {
    background-color: #16a085;
    filter: drop-shadow(5px 5px 0 rgba(22, 160, 133, 0.6)); }
    .btn.green-sea:hover {
      filter: drop-shadow(5px 5px 0 rgba(22, 160, 133, 0.6)) brightness(50%); }
  .btn.midnight-blue {
    background-color: #2c3e50;
    filter: drop-shadow(5px 5px 0 rgba(44, 62, 80, 0.6)); }
    .btn.midnight-blue:hover {
      filter: drop-shadow(5px 5px 0 rgba(44, 62, 80, 0.6)) brightness(50%); }
  .btn.nephritis {
    background-color: #27ae60;
    filter: drop-shadow(5px 5px 0 rgba(39, 174, 96, 0.6)); }
    .btn.nephritis:hover {
      filter: drop-shadow(5px 5px 0 rgba(39, 174, 96, 0.6)) brightness(50%); }
  .btn.orange {
    background-color: #f39c12;
    filter: drop-shadow(5px 5px 0 rgba(243, 156, 18, 0.6)); }
    .btn.orange:hover {
      filter: drop-shadow(5px 5px 0 rgba(243, 156, 18, 0.6)) brightness(50%); }
  .btn.peter-river {
    background-color: #3498db;
    filter: drop-shadow(5px 5px 0 rgba(52, 152, 219, 0.6)); }
    .btn.peter-river:hover {
      filter: drop-shadow(5px 5px 0 rgba(52, 152, 219, 0.6)) brightness(50%); }
  .btn.pomegranate {
    background-color: #c0392b;
    filter: drop-shadow(5px 5px 0 rgba(192, 57, 43, 0.6)); }
    .btn.pomegranate:hover {
      filter: drop-shadow(5px 5px 0 rgba(192, 57, 43, 0.6)) brightness(50%); }
  .btn.pumpkin {
    background-color: #d35400;
    filter: drop-shadow(5px 5px 0 rgba(211, 84, 0, 0.6)); }
    .btn.pumpkin:hover {
      filter: drop-shadow(5px 5px 0 rgba(211, 84, 0, 0.6)) brightness(50%); }
  .btn.silver {
    background-color: #7f8c8d;
    filter: drop-shadow(5px 5px 0 rgba(127, 140, 141, 0.6)); }
    .btn.silver:hover {
      filter: drop-shadow(5px 5px 0 rgba(127, 140, 141, 0.6)) brightness(50%); }
  .btn.sun-flower {
    background-color: #f1c40f;
    filter: drop-shadow(5px 5px 0 rgba(241, 196, 15, 0.6)); }
    .btn.sun-flower:hover {
      filter: drop-shadow(5px 5px 0 rgba(241, 196, 15, 0.6)) brightness(50%); }
  .btn.turquoise {
    background-color: #1abc9c;
    filter: drop-shadow(5px 5px 0 rgba(26, 188, 156, 0.6)); }
    .btn.turquoise:hover {
      filter: drop-shadow(5px 5px 0 rgba(26, 188, 156, 0.6)) brightness(50%); }
  .btn.wet-asphalt {
    background-color: #34495e;
    filter: drop-shadow(5px 5px 0 rgba(52, 73, 94, 0.6)); }
    .btn.wet-asphalt:hover {
      filter: drop-shadow(5px 5px 0 rgba(52, 73, 94, 0.6)) brightness(50%); }
  .btn.white {
    background-color: #fff;
    filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6)); }
    .btn.white:hover {
      filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6)) brightness(50%); }
  .btn.wisteria {
    background-color: #8e44ad;
    filter: drop-shadow(5px 5px 0 rgba(142, 68, 173, 0.6)); }
    .btn.wisteria:hover {
      filter: drop-shadow(5px 5px 0 rgba(142, 68, 173, 0.6)) brightness(50%); }
  .btn:hover {
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    color: #fff; }
  .btn.animation {
    animation: button-enter 750ms ease-in-out forwards;
    -webkit-animation: button-enter 750ms ease-in-out forwards;
    -ms-animation: button-enter 750ms ease-in-out forwards;
    -moz-animation: button-enter 750ms ease-in-out forwards;
    -o-animation: button-enter 750ms ease-in-out forwards;
    opacity: 0; }
    .btn.animation:nth-child(1) {
      animation-delay: 0.25s; }
    .btn.animation:nth-child(2) {
      animation-delay: 0.5s; }
    .btn.animation:nth-child(3) {
      animation-delay: 0.75s; }
    .btn.animation:nth-child(4) {
      animation-delay: 1s; }
    .btn.animation:nth-child(5) {
      animation-delay: 1.25s; }
    .btn.animation:nth-child(6) {
      animation-delay: 1.5s; }
    .btn.animation:nth-child(7) {
      animation-delay: 1.75s; }
    .btn.animation:nth-child(8) {
      animation-delay: 2s; }
    .btn.animation:nth-child(9) {
      animation-delay: 2.25s; }
    .btn.animation:nth-child(10) {
      animation-delay: 2.5s; }

.card-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around; }
  .card-container .card {
    background-color: #282828;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(32, 34, 37, 0.6);
    display: block;
    font-family: arial;
    margin: 0 .05em;
    margin-top: 2em;
    text-align: center;
    width: 310px; }
    .card-container .card .avatar {
      background-color: #181818;
      border-radius: 6px 6px 0 0;
      padding: .5em 0; }
      .card-container .card .avatar img {
        border-radius: 100%;
        width: 7em; }
    .card-container .card .title {
      display: block;
      font-size: 26px;
      margin-bottom: 0;
      margin-top: .3em; }
    .card-container .card .description {
      color: #808080;
      font-size: 18px;
      margin-bottom: .3em; }
    .card-container .card .footer {
      background-color: #303030;
      border-radius: 0 0 6px 6px;
      display: block;
      padding: .6em 0;
      padding-bottom: 1em; }
      .card-container .card .footer a {
        font-size: 14px;
        text-decoration: none; }

.fullscreen .background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) brightness(50%);
  height: 100%;
  width: 100%; }
.fullscreen .center-object {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%; }
  .fullscreen .center-object .me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    z-index: 10; }
    .fullscreen .center-object .me .image-title {
      border-radius: 100%;
      width: 9em; }
    .fullscreen .center-object .me .title {
      filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.4));
      font-size: 5rem;
      letter-spacing: 1px;
      margin: .25em; }
    .fullscreen .center-object .me .undertitle {
      filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.4));
      font-size: 2.5rem;
      letter-spacing: 1px;
      margin: 0; }
.fullscreen.half .background {
  height: 50%; }
.fullscreen.half .center-object {
  top: 25%; }
  .fullscreen.half .center-object .btn {
    padding: 0 20px; }
  .fullscreen.half .center-object .me .image-title {
    width: 6em; }
  .fullscreen.half .center-object .me .title {
    font-size: 4rem; }
  .fullscreen.half .center-object .me .undertitle {
    font-size: 1.75rem; }

@media (max-width: 750px) {
  .center-object {
    top: 45%;
    width: 90%; }
    .center-object .me {
      padding: 0; }
      .center-object .me .title {
        font-size: 5rem; }
      .center-object .me .image-title {
        width: 8em; }

  .buttons {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .buttons .btn {
      align-items: center;
      display: flex;
      font-size: 18px;
      justify-content: center;
      line-height: 20px;
      padding: 25px 0;
      text-align: center;
      white-space: pre-line;
      width: calc(45% - 30px); } }
@media (min-width: 400px) {
  .container {
    padding: 0;
    width: 85%; } }
@media (min-width: 550px) {
  .container {
    width: 90%; }

  .column, .columns {
    margin-left: 4%; }

  .column:first-child, .columns:first-child {
    margin-left: 0; } }

/*# sourceMappingURL=modesta.css.map */
