$blobcat-map: (
  "ablobcatattention": "https://cdn.discordapp.com/emojis/434710260314406922.gif",
  "ablobcatattentionreverse": "https://cdn.discordapp.com/emojis/434710260562001940.gif",
  "ablobcatknitsweats": "https://cdn.discordapp.com/emojis/449050177760919552.gif",
  "ablobcatparhteyboys": "https://cdn.discordapp.com/emojis/438381772695404544.gif",
  "ablobcatpeek": "https://cdn.discordapp.com/emojis/394202056459812864.gif",
  "ablobcatrainbow": "https://cdn.discordapp.com/emojis/424284925978607622.gif",
  "ablobcatrave": "https://cdn.discordapp.com/emojis/435456455525793792.gif",
  "ablobcatreach": "https://cdn.discordapp.com/emojis/434710259899039754.gif",
  "ablobcatreachreverse": "https://cdn.discordapp.com/emojis/434710260649820160.gif",
  "ablobcatsipsweats": "https://cdn.discordapp.com/emojis/397082478487011339.gif",
  "ablobcatsleep": "https://cdn.discordapp.com/emojis/397082489484607490.gif",
  "ablobcatthirsty": "https://cdn.discordapp.com/emojis/400106086411141131.gif",
  "ablobcatwink": "https://cdn.discordapp.com/emojis/433382866995380234.gif",
  "ageblobcat": "https://cdn.discordapp.com/emojis/400035000545705997.gif",
  "apartyblobcat": "https://cdn.discordapp.com/emojis/432278239805833246.gif",
  "beanblobcat": "https://cdn.discordapp.com/emojis/400065362043076609.png",
  "blobbunnynomblobcat": "https://cdn.discordapp.com/emojis/398615176703770627.png",
  "blobcat": "https://cdn.discordapp.com/emojis/433371448200134669.png",
  "blobcataco": "https://cdn.discordapp.com/emojis/384825050290978818.png",
  "blobcatadorable": "https://cdn.discordapp.com/emojis/405851205164597259.png",
  "blobcatangel": "https://cdn.discordapp.com/emojis/376800560118104074.png",
  "blobcatangery": "https://cdn.discordapp.com/emojis/383776668751364107.png",
  "blobcatangry": "https://cdn.discordapp.com/emojis/362214428738846721.png",
  "blobcatanimeeyes": "https://cdn.discordapp.com/emojis/400073196042453008.png",
  "blobcataww": "https://cdn.discordapp.com/emojis/424277325979320321.png",
  "blobcatb1nzy": "https://cdn.discordapp.com/emojis/362212042930651136.png",
  "blobcatbaguettehero": "https://cdn.discordapp.com/emojis/383388037855313921.png",
  "blobcatban": "https://cdn.discordapp.com/emojis/383016953226199040.png",
  "blobcatbirthday": "https://cdn.discordapp.com/emojis/386961486112882688.png",
  "blobcatbleach": "https://cdn.discordapp.com/emojis/400073196575129600.png",
  "blobcatblep": "https://cdn.discordapp.com/emojis/400064205547634688.png",
  "blobcatblue": "https://cdn.discordapp.com/emojis/428184732099149824.png",
  "blobcatblush": "https://cdn.discordapp.com/emojis/400065362378489856.png",
  "blobcatbolb": "https://cdn.discordapp.com/emojis/361493491471089664.png",
  "blobcatbolbscream": "https://cdn.discordapp.com/emojis/404295972424777729.png",
  "blobcatbughunter": "https://cdn.discordapp.com/emojis/433057159576551437.png",
  "blobcatburglar": "https://cdn.discordapp.com/emojis/435428182292824064.png",
  "blobcatbusiness": "https://cdn.discordapp.com/emojis/438064253040066570.png",
  "blobcatcactus": "https://cdn.discordapp.com/emojis/381655459171401728.png",
  "blobcatcaged": "https://cdn.discordapp.com/emojis/361917731479617536.png",
  "blobcatcheer": "https://cdn.discordapp.com/emojis/387334601133260812.png",
  "blobcatchristmasglowsticks": "https://cdn.discordapp.com/emojis/380412043116675082.png",
  "blobcatchristmastreeeee": "https://cdn.discordapp.com/emojis/384789555783401473.png",
  "blobcatcoffee": "https://cdn.discordapp.com/emojis/400064206377844738.png",
  "blobcatcookie": "https://cdn.discordapp.com/emojis/424081671357333504.png",
  "blobcatcooljazz": "https://cdn.discordapp.com/emojis/430872001738178574.png",
  "blobcatcouple": "https://cdn.discordapp.com/emojis/384077830935412737.png",
  "blobcatdab": "https://cdn.discordapp.com/emojis/400072210628214789.png",
  "blobcatdead": "https://cdn.discordapp.com/emojis/361918299606614016.png",
  "blobcatdeficit": "https://cdn.discordapp.com/emojis/438064253216489482.png",
  "blobcatdevil": "https://cdn.discordapp.com/emojis/366564834059354123.png",
  "blobcatdizzy": "https://cdn.discordapp.com/emojis/361918777262080004.png",
  "blobcatdrool": "https://cdn.discordapp.com/emojis/400065362961629188.png",
  "blobcatelf": "https://cdn.discordapp.com/emojis/378325253727846400.png",
  "blobcatevil": "https://cdn.discordapp.com/emojis/361493598341955596.png",
  "blobcateyes": "https://cdn.discordapp.com/emojis/400065362529484811.png",
  "blobcatfacepalm": "https://cdn.discordapp.com/emojis/366518705456414721.png",
  "blobcatfearful": "https://cdn.discordapp.com/emojis/370642365431676939.png",
  "blobcatfingerguns": "https://cdn.discordapp.com/emojis/400065363573735434.png",
  "blobcatfireeyes": "https://cdn.discordapp.com/emojis/404285038545338378.png",
  "blobcatflip": "https://cdn.discordapp.com/emojis/386951189729771530.png",
  "blobcatfluffangry": "https://cdn.discordapp.com/emojis/383813328939515905.png",
  "blobcatfluffevil": "https://cdn.discordapp.com/emojis/387340697453461504.png",
  "blobcatfluffhappy": "https://cdn.discordapp.com/emojis/383813329241767936.png",
  "blobcatfluffowo": "https://cdn.discordapp.com/emojis/387347538245582858.png",
  "blobcatfluffpats": "https://cdn.discordapp.com/emojis/387338842803273728.png",
  "blobcatfluffpout": "https://cdn.discordapp.com/emojis/387352845294239744.png",
  "blobcatfrowning": "https://cdn.discordapp.com/emojis/361918196061700096.png",
  "blobcatfrowningbig": "https://cdn.discordapp.com/emojis/389445649298620418.png",
  "blobcatfunny": "https://cdn.discordapp.com/emojis/400064205828521986.png",
  "blobcatghostbuster": "https://cdn.discordapp.com/emojis/400073196176670723.png",
  "blobcatghostdead": "https://cdn.discordapp.com/emojis/376825130199941122.png",
  "blobcatglare": "https://cdn.discordapp.com/emojis/362554149595906048.png",
  "blobcatglowsticks": "https://cdn.discordapp.com/emojis/380417635134734356.png",
  "blobcatgoogly": "https://cdn.discordapp.com/emojis/366503681807482881.png",
  "blobcatgreen": "https://cdn.discordapp.com/emojis/428184732157870100.png",
  "blobcatgrimacing": "https://cdn.discordapp.com/emojis/446791766935339008.png",
  "blobcatgun": "https://cdn.discordapp.com/emojis/366503580389343233.png",
  "blobcathairflip": "https://cdn.discordapp.com/emojis/371388877161758720.png",
  "blobcathappy": "https://cdn.discordapp.com/emojis/400064206050689024.png",
  "blobcatheadphones": "https://cdn.discordapp.com/emojis/382941518366900224.png",
  "blobcatheart": "https://cdn.discordapp.com/emojis/438396305564237844.png",
  "blobcatheartbroken": "https://cdn.discordapp.com/emojis/400074057376202752.png",
  "blobcathearteyes": "https://cdn.discordapp.com/emojis/361918045473472522.png",
  "blobcathero": "https://cdn.discordapp.com/emojis/383388037750456323.png",
  "blobcathighfive": "https://cdn.discordapp.com/emojis/400065363225608193.png",
  "blobcathissing": "https://cdn.discordapp.com/emojis/376782221631160330.png",
  "blobcathug": "https://cdn.discordapp.com/emojis/400072211345702912.png",
  "blobcathyper": "https://cdn.discordapp.com/emojis/400072211714801674.png",
  "blobcatjake": "https://cdn.discordapp.com/emojis/366564941064306699.png",
  "blobcatjava": "https://cdn.discordapp.com/emojis/390251924781400066.png",
  "blobcatjoy": "https://cdn.discordapp.com/emojis/363338182453886987.png",
  "blobcatjoyboxhero": "https://cdn.discordapp.com/emojis/387326805851504643.png",
  "blobcatjustright": "https://cdn.discordapp.com/emojis/440975225182617620.png",
  "blobcatkfc": "https://cdn.discordapp.com/emojis/386984798008115212.png",
  "blobcatkfcsweats": "https://cdn.discordapp.com/emojis/392080844316999681.png",
  "blobcatkirby": "https://cdn.discordapp.com/emojis/366564505079119892.png",
  "blobcatkissblush": "https://cdn.discordapp.com/emojis/400065363309625355.png",
  "blobcatkissheart": "https://cdn.discordapp.com/emojis/374014216245608448.png",
  "blobcatknife": "https://cdn.discordapp.com/emojis/371775422473699328.png",
  "blobcatlewd": "https://cdn.discordapp.com/emojis/380841134051557376.png",
  "blobcatlul": "https://cdn.discordapp.com/emojis/373872065033273345.png",
  "blobcatmelt": "https://cdn.discordapp.com/emojis/366512172563431434.png",
  "blobcatmeltnomblobcatmelt": "https://cdn.discordapp.com/emojis/435159179150229515.png",
  "blobcatmeltthumbsup": "https://cdn.discordapp.com/emojis/435159178932387852.png",
  "blobcatmlem": "https://cdn.discordapp.com/emojis/363027617827258380.png",
  "blobcatmorning": "https://cdn.discordapp.com/emojis/400064206734622730.png",
  "blobcatmorningcoffee": "https://cdn.discordapp.com/emojis/405851205320048641.png",
  "blobcatmoustache": "https://cdn.discordapp.com/emojis/366564624885219328.png",
  "blobcatnauseated": "https://cdn.discordapp.com/emojis/361493687966105610.png",
  "blobcatnerd": "https://cdn.discordapp.com/emojis/361493812050264074.png",
  "blobcatnervous": "https://cdn.discordapp.com/emojis/385790749276635147.png",
  "blobcatneutral": "https://cdn.discordapp.com/emojis/361916752545972224.png",
  "blobcatnight": "https://cdn.discordapp.com/emojis/395771690749001748.png",
  "blobcatninja": "https://cdn.discordapp.com/emojis/361916869248024577.png",
  "blobcatninjacaged": "https://cdn.discordapp.com/emojis/421731327654625301.png",
  "blobcatnomblobbunny": "https://cdn.discordapp.com/emojis/398615177265938432.png",
  "blobcatnomblobcat": "https://cdn.discordapp.com/emojis/366505071116288000.png",
  "blobcatnomblobdoggo": "https://cdn.discordapp.com/emojis/384771147776131072.png",
  "blobcatnomcandycane": "https://cdn.discordapp.com/emojis/380841151990726656.png",
  "blobcatnomcookie": "https://cdn.discordapp.com/emojis/361558714521485313.png",
  "blobcatnomcookieblob": "https://cdn.discordapp.com/emojis/387320403984384003.png",
  "blobcatnomdisk": "https://cdn.discordapp.com/emojis/390251925599289344.png",
  "blobcatnomeggplant": "https://cdn.discordapp.com/emojis/366518379667914752.png",
  "blobcatnomfish": "https://cdn.discordapp.com/emojis/400064206889811968.png",
  "blobcatnomouth": "https://cdn.discordapp.com/emojis/361917901676216330.png",
  "blobcatnompeach": "https://cdn.discordapp.com/emojis/404264088298979329.png",
  "blobcatnompizza": "https://cdn.discordapp.com/emojis/395348317946511371.png",
  "blobcatnompopsicle": "https://cdn.discordapp.com/emojis/387328486274105345.png",
  "blobcatnomrevenge": "https://cdn.discordapp.com/emojis/427484109124927491.png",
  "blobcatnomstrawberry": "https://cdn.discordapp.com/emojis/404264088399773706.png",
  "blobcatnomtomato": "https://cdn.discordapp.com/emojis/405851206016040963.png",
  "blobcatnomwatermelon": "https://cdn.discordapp.com/emojis/405851206041468928.png",
  "blobcatnoplease": "https://cdn.discordapp.com/emojis/371388877149044748.png",
  "blobcatnotlike": "https://cdn.discordapp.com/emojis/363029007324807170.png",
  "blobcatnotlikethis": "https://cdn.discordapp.com/emojis/383813403996848138.png",
  "blobcatoh": "https://cdn.discordapp.com/emojis/443619626148954112.png",
  "blobcatokhand": "https://cdn.discordapp.com/emojis/400065363296911361.png",
  "blobcatonfire": "https://cdn.discordapp.com/emojis/378300490682859522.png",
  "blobcatopenmouth": "https://cdn.discordapp.com/emojis/366518534521487361.png",
  "blobcatorange": "https://cdn.discordapp.com/emojis/428184732111601664.png",
  "blobcatoutage": "https://cdn.discordapp.com/emojis/366565050393034752.png",
  "blobcatpats": "https://cdn.discordapp.com/emojis/366504744262303754.png",
  "blobcatpawtongueleft": "https://cdn.discordapp.com/emojis/400065363565346817.png",
  "blobcatpawtongueright": "https://cdn.discordapp.com/emojis/400065363297173505.png",
  "blobcatpeek": "https://cdn.discordapp.com/emojis/384824283211497473.png",
  "blobcatpeekaboo": "https://cdn.discordapp.com/emojis/382675873838399491.png",
  "blobcatpenguin": "https://cdn.discordapp.com/emojis/400072211337183244.png",
  "blobcatpensive": "https://cdn.discordapp.com/emojis/380419932820733953.png",
  "blobcatphoto": "https://cdn.discordapp.com/emojis/366565158857867295.png",
  "blobcatpika": "https://cdn.discordapp.com/emojis/366538824341520386.png",
  "blobcatpinged": "https://cdn.discordapp.com/emojis/362965219967893504.png",
  "blobcatpingedaww": "https://cdn.discordapp.com/emojis/433352238417575976.png",
  "blobcatpingedreeee": "https://cdn.discordapp.com/emojis/389422733764722699.png",
  "blobcatpink": "https://cdn.discordapp.com/emojis/428184732275179520.png",
  "blobcatpolice": "https://cdn.discordapp.com/emojis/376782222130151424.png",
  "blobcatpolicedonut": "https://cdn.discordapp.com/emojis/386951794569510924.png",
  "blobcatpolicepeek": "https://cdn.discordapp.com/emojis/376782222553907202.png",
  "blobcatpopcorn": "https://cdn.discordapp.com/emojis/400072211349635092.png",
  "blobcatpopcornsweats": "https://cdn.discordapp.com/emojis/392080843637653504.png",
  "blobcatpopsicle": "https://cdn.discordapp.com/emojis/362959194346749952.png",
  "blobcatpout": "https://cdn.discordapp.com/emojis/387014571644289034.png",
  "blobcatpresentgreen": "https://cdn.discordapp.com/emojis/380841189181751301.png",
  "blobcatpresentpink": "https://cdn.discordapp.com/emojis/380841189223563274.png",
  "blobcatpresentred": "https://cdn.discordapp.com/emojis/380841189311512579.png",
  "blobcatpurple": "https://cdn.discordapp.com/emojis/428184731893497857.png",
  "blobcatpusheen": "https://cdn.discordapp.com/emojis/366538936178311179.png",
  "blobcatreach": "https://cdn.discordapp.com/emojis/366539036656926721.png",
  "blobcatreading": "https://cdn.discordapp.com/emojis/404548961987330068.png",
  "blobcatred": "https://cdn.discordapp.com/emojis/428184732241625088.png",
  "blobcatreeeeeee": "https://cdn.discordapp.com/emojis/362205487292350464.png",
  "blobcatreinderp": "https://cdn.discordapp.com/emojis/386951654131630080.png",
  "blobcatsad": "https://cdn.discordapp.com/emojis/400064206310998035.png",
  "blobcatsadpats": "https://cdn.discordapp.com/emojis/405763848176533504.png",
  "blobcatsaitama": "https://cdn.discordapp.com/emojis/400074057980182538.png",
  "blobcatsalute": "https://cdn.discordapp.com/emojis/381555549097164800.png",
  "blobcatsanta": "https://cdn.discordapp.com/emojis/378325227169382412.png",
  "blobcatscared": "https://cdn.discordapp.com/emojis/404298286699249664.png",
  "blobcatscience": "https://cdn.discordapp.com/emojis/424273608056111104.png",
  "blobcatscream": "https://cdn.discordapp.com/emojis/361918416942268419.png",
  "blobcatshocked": "https://cdn.discordapp.com/emojis/370642365595123722.png",
  "blobcatshrug": "https://cdn.discordapp.com/emojis/400065363578060800.png",
  "blobcatshy": "https://cdn.discordapp.com/emojis/374014216237088770.png",
  "blobcatsick": "https://cdn.discordapp.com/emojis/366503464466907136.png",
  "blobcatsip": "https://cdn.discordapp.com/emojis/370642365674684416.png",
  "blobcatsipsweats": "https://cdn.discordapp.com/emojis/383813368395333633.png",
  "blobcatsleep": "https://cdn.discordapp.com/emojis/366511635243728896.png",
  "blobcatsleepless": "https://cdn.discordapp.com/emojis/400072211681247252.png",
  "blobcatsmug": "https://cdn.discordapp.com/emojis/400072211152764928.png",
  "blobcatsneezing": "https://cdn.discordapp.com/emojis/366564393485598720.png",
  "blobcatsnuggle": "https://cdn.discordapp.com/emojis/368734002359697413.png",
  "blobcatsob": "https://cdn.discordapp.com/emojis/366511517459415040.png",
  "blobcatsparklyeyes": "https://cdn.discordapp.com/emojis/404671093744336906.png",
  "blobcatstabbystab": "https://cdn.discordapp.com/emojis/390642136112168960.png",
  "blobcatstalkerpeek": "https://cdn.discordapp.com/emojis/427029881088638987.png",
  "blobcatsweats": "https://cdn.discordapp.com/emojis/400065363443712001.png",
  "blobcattableflip": "https://cdn.discordapp.com/emojis/376800561108090881.png",
  "blobcattea": "https://cdn.discordapp.com/emojis/371388877174210560.png",
  "blobcatthinking": "https://cdn.discordapp.com/emojis/384354961473011712.png",
  "blobcatthinkingeyes": "https://cdn.discordapp.com/emojis/361473484066390016.png",
  "blobcatthinkingglare": "https://cdn.discordapp.com/emojis/404671093580759040.png",
  "blobcatthinkingsmirk": "https://cdn.discordapp.com/emojis/363029138094948352.png",
  "blobcatthinkOwO": "https://cdn.discordapp.com/emojis/361473376096616449.png",
  "blobcatthinksmart": "https://cdn.discordapp.com/emojis/434711897799917579.png",
  "blobcatthonking": "https://cdn.discordapp.com/emojis/376782223631843328.png",
  "blobcatthumbsdown": "https://cdn.discordapp.com/emojis/366511377537433600.png",
  "blobcatthumbsup": "https://cdn.discordapp.com/emojis/366511315042172934.png",
  "blobcattilt": "https://cdn.discordapp.com/emojis/370642365645586432.png",
  "blobcattoot": "https://cdn.discordapp.com/emojis/433349557993078784.png",
  "blobcattriumph": "https://cdn.discordapp.com/emojis/400072211139919883.png",
  "blobcatunamused": "https://cdn.discordapp.com/emojis/400073196457426944.png",
  "blobcatupsidedown": "https://cdn.discordapp.com/emojis/400065363238453249.png",
  "blobcatuwu": "https://cdn.discordapp.com/emojis/361917101956399106.png",
  "blobcatverysad": "https://cdn.discordapp.com/emojis/390637045678342144.png",
  "blobcatwaitwhat": "https://cdn.discordapp.com/emojis/366564730216906752.png",
  "blobcatwave": "https://cdn.discordapp.com/emojis/379389328054288404.png",
  "blobcatwavereverse": "https://cdn.discordapp.com/emojis/378257044890845194.png",
  "blobcatwhatsthis": "https://cdn.discordapp.com/emojis/400064206289895424.png",
  "blobcatwhistle": "https://cdn.discordapp.com/emojis/361493910847225857.png",
  "blobcatwink": "https://cdn.discordapp.com/emojis/433371448355323925.png",
  "blobcatwinktongue": "https://cdn.discordapp.com/emojis/400064206155546634.png",
  "blobcatwoah": "https://cdn.discordapp.com/emojis/366538718552522752.png",
  "blobcatwolfiri": "https://cdn.discordapp.com/emojis/362292809111175168.png",
  "blobcatwumpus": "https://cdn.discordapp.com/emojis/427484184588845058.png",
  "blobcatwut": "https://cdn.discordapp.com/emojis/380411965895606275.png",
  "blobcatyandere": "https://cdn.discordapp.com/emojis/424422567504510987.png",
  "blobcatzippermouth": "https://cdn.discordapp.com/emojis/400073197069926400.png",
  "blobcoolcat": "https://cdn.discordapp.com/emojis/400064206688223232.png",
  "blobgentlecat": "https://cdn.discordapp.com/emojis/369619362090319872.png",
  "blobghostcatreach": "https://cdn.discordapp.com/emojis/386984776130887691.png",
  "geblobcat": "https://cdn.discordapp.com/emojis/371388941615759360.png",
  "geblobcatshrug": "https://cdn.discordapp.com/emojis/400065363577929728.png",
  "pats": "https://cdn.discordapp.com/emojis/388842338056929290.png",
);
