@mixin dropshadow($colour, $hover: false) {
  $shadow: drop-shadow(5px 5px 0 rgba($colour, .6));

  background-color: $colour;
  filter: $shadow;

  @if $hover == true {
    &:hover {
      filter: $shadow brightness(50%);
    }
  }
}
