$grid-list: (
  8.33%,
  16.66%,
  25%,
  33.33%,
  41.66%,
  50%,
  58.33%,
  66.66%,
  75%,
  83.33%,
  91.66%,
  100%
);


@mixin dropshadow($colour, $hover: false) {
  $shadow: drop-shadow(5px 5px 0 rgba($colour, .6));

  @if $colour == transparent {
    $shadow: drop-shadow(5px 5px 0 rgba(#000, .6));
  }

  background-color: $colour;
  filter: $shadow;

  @if $hover == true {
    &:hover {
      filter: $shadow brightness(50%);
    }
  }
}
