$highlight: #181818;
$primary: #282828;
$secondary: #303030;


$colours: (
// Normal colours
  'alizarin': #e74c3c,
  'amethyst': #9b59b6,
  'asbestos': #7f8c8d,
  'belize-hole': #2980b9,
  'black': #000,
  'carrot': #e67e22,
  'clouds': #ecf0f1,
  'concrete': #95a5a6,
  'cubered': #ef0c0c,
  'dark': #343a40,
  'emerald': #2ecc71,
  'gold': #ffd700,
  'green-sea': #16a085,
  'highlight': #181818,
  'light': #f8f9fa,
  'midnight-blue': #2c3e50,
  'nephritis': #27ae60,
  'orange': #f39c12,
  'peach': #f49898,
  'peter-river': #3498db,
  'pomegranate': #c0392b,
  'primary': #282828,
  'pumpkin': #d35400,
  'raw-purple': #7222c9,
  'secondary': #303030,
  'silver': #7f8c8d,
  'sun-flower': #f1c40f,
  'transparent': transparent,
  'turquoise': #1abc9c,
  'wet-asphalt': #34495e,
  'white': #fff,
  'wisteria': #8e44ad,

// Company/Social medias
  'deviantart': #05cc47,
  'discord': #7289da,
  'facebook': #3b5998,
  'github': #292d32,
  'google': #4285f4,
  'googleplus': #db4437,
  'instagram': #c32aa3,
  'linkedin': #007bb5,
  'patreon': #f96854,
  'paypal': #1e9cd7,
  'pinterest': #bd081c,
  'reddit': #ff4500,
  'skype': #41a6ed,
  'slack': #4d394b,
  'snapchat': #fffc00,
  'soundcloud': #f50,
  'spotify': #1ed760,
  'steam': #171a21,
  'telegram': #08c,
  'tumblr': #35465d,
  'twitch': #6441a4,
  'twitter': #1da1f2,
  'viber': #7f4d9b,
  'whatsapp': #25d366,
  'youtube': #f00,
);
