$highlight: #181818;
$primary: #282828;
$secondary: #303030;

$accent-primary: #1eaedb;
$accent-secondary: #0fa0ce;

$white: #fff;
$white-secondary: #d1d1d1;


$colours: (
  // Normal colours
  'alizarin': #e74c3c,
  'amethyst': #9b59b6,
  'aqua-blue': #006266,
  'asbestos': #7f8c8d,
  'belize-hole': #2980b9,
  'black': #000,
  'blurple': #7289da,
  'cardboard': #a58855,
  'carrot': #e67e22,
  'clouds': #ecf0f1,
  'concrete': #95a5a6,
  'cubered': #ef0c0c,
  'dark-not-black': #2c2f33,
  'dark': #343a40,
  'disco-ball': #25ccf7,
  'emerald': #2ecc71,
  'energy-drink': #c4e538,
  'fuchsia': #b33771,
  'gold': #ffd700,
  'green-sea': #16a085,
  'greyple': #99aab5,
  'highlight': #181818,
  'honey': #eab543,
  'lavender': #b57edc,
  'light': #f8f9fa,
  'lemon': #ffeaa7,
  'marine-blue': #0652dd,
  'midnight-blue': #2c3e50,
  'navy-blue': #182C61,
  'nephritis-blue': #27ae60,
  'not-black': #23272a,
  'orange': #f39c12,
  'peach': #f49898,
  'peter-river': #3498db,
  'pink-cherry': #e84393,
  'pine': #bdc581,
  'pinewood': #fdcb6e,
  'pomegranate': #c0392b,
  'primary': #282828,
  'pumpkin': #d35400,
  'rasberry': #c51d4a,
  'raw-purple': #7222c9,
  'secondary': #303030,
  'silver': #7f8c8d,
  'soft-purple': #6c5ce7,
  'sun-flower': #f1c40f,
  'transparent': transparent,
  'turquoise': #1abc9c,
  'watermelon': #ff4757,
  'wet-asphalt': #34495e,
  'white': #fff,
  'wisteria': #8e44ad,

  // Company/Social medias
  'amazon': #f90,
  'android': #8ec047,
  'bandcamp': #619aa9,
  'deviantart': #05cc47,
  'discord': #7289da,
  'facebook': #3b5998,
  'github': #292d32,
  'gitlab': #fc6d26,
  'google': #4285f4,
  'googleplus': #db4437,
  'instagram': #c32aa3,
  'line': #00b901,
  'linkedin': #007bb5,
  'npm': #c12127,
  'patreon': #f96854,
  'paypal': #1e9cd7,
  'pinterest': #bd081c,
  'reddit': #ff4500,
  'skype': #41a6ed,
  'slack': #4d394b,
  'snapchat': #fffc00,
  'soundcloud': #f50,
  'spotify': #1ed760,
  'steam': #171a21,
  'telegram': #08c,
  'tumblr': #35465d,
  'twitch': #6441a4,
  'twitter': #1da1f2,
  'viber': #7f4d9b,
  'whatsapp': #25d366,
  'youtube': #f00,
);
