$highlight: #181818;
$primary: #282828;
$secondary: #303030;


$colours: (
  // Normal colours
  'alizarin': #e74c3c,
  'amethyst': #9b59b6,
  'asbestos': #7f8c8d,
  'belize-hole': #2980b9,
  'black': #000,
  'carrot': #e67e22,
  'clouds': #ecf0f1,
  'concrete': #95a5a6,
  'emerald': #2ecc71,
  'green-sea': #16a085,
  'highlight': #181818,
  'midnight-blue': #2c3e50,
  'nephritis': #27ae60,
  'orange': #f39c12,
  'peter-river': #3498db,
  'pomegranate': #c0392b,
  'primary': #282828,
  'pumpkin': #d35400,
  'secondary': #303030,
  'silver': #7f8c8d,
  'sun-flower': #f1c40f,
  'turquoise': #1abc9c,
  'wet-asphalt': #34495e,
  'white': #fff,
  'wisteria': #8e44ad,

  // Social medias
  'devianart': #f95119,
  'discord': #7289da,
  'facebook': #475595,
  'github': #292d32,
  'googleplus': #d75545,
  'linkedin': #3275b3,
  'pinterest': #c5302f,
  'reddit': #f95119,
  'skype': #41a6ed,
  'snapchat': #f8ff2f,
  'soundcloud': #f95f1b,
  'telegram': #4da8df,
  'tumblr': #394e6b,
  'twitter': #4999f0,
  'viber': #7f4d9b,
  'youtube': #f00,
);
