.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  background-color: rgb(70, 70, 70);
  border: 0;
  box-shadow: 0 3px 0 0 rgb(20, 20, 20);
  color: #fff;
  margin: .5em;
  outline: none;
  padding: .3em .8em;
  position: relative;

  &.btn { box-shadow: unset !important; }
  &:active {
    box-shadow: none !important;
    top: 2;
  }

  @each $name, $code in $colours {
    &.#{$name} {
      background-color: $code;
      box-shadow: 0 3px 0 0 rgba($code, .5);
    }
  }
}

.btn, input[type="submit"] {
  @include prefix(backface-visibility, hidden);
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  margin: .5em;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  @each $name, $code in $colours {
    &.#{$name} {
      background-color: $code;
    }

    &.#{$name}-dropshadow {
      @include dropshadow($code, true);
    }

    &.#{$name}-border {
      border: 3px solid $code;
      height: auto;
    }
  }

  &:hover {
    @include transition('filter 200ms ease');
    filter: brightness(65%);
  }

  &.no-dark-hover {
    &:hover { filter: brightness(100%); }
  }

  &.animation {
    @include animation('button-enter 1s ease-in-out forwards');
    opacity: 0;
    position: relative;

    @for $x from 1 through 15 {
      &:nth-child(#{$x}) {
        animation-delay: $x * .25s;
      }
    }
  }

  &.animation-bounce {
    @include animation('bounce-button 1s ease-in-out');

    @for $x from 1 through 15 {
      &:nth-child(#{$x}) {
        animation-delay: $x * .25s;
      }
    }
  }

  &.hover-scale {
    @include transition('transform 200ms ease');
    &:hover {
      @include transform(scale(1.05));
    }
  }

  &.hover-scale-inset {
    @include transition('transform 200ms ease');
    &:hover {
      @include transform(scale(.95));
    }
  }

  &.hover-bounce {
    &:hover {
      @include animation('bounce-button 750ms ease-in-out');
    }
  }

  &.hover {
    @include transition('transform 200ms ease');
    &:hover { @include transform(translateY(-.5em)); }
  }
}
