@import '../assets/builders';
@import '../assets/colours';
@import '../assets/crossbrowser';

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn {
  @include transition('all 350ms ease');
  background-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin: .5em;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  @each $name, $code in $colours {
    &.#{$name} {
      @include dropshadow($code);
    }
  }

  &:hover {
    @include transition('all 350ms ease');
    color: #fff;
  }

  &.animation {
    @include animation('button-enter 750ms ease-in-out forwards');
    opacity: 0;

    @for $x from 1 through 10 {
      &:nth-child(#{$x}) {
        animation-delay: $x * .25s;
      }
    }
  }
}
