// Changeing value of elements
.bold { font-weight: bold; }
.italic { font-style: italic; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.no-border { border: 0; }
.no-border-radius { border-radius: 0; }
.no-box-shadow { box-shadow: none; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.no-background { background: transparent; }
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.center-display {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.center-flex {
  display: flex;
  justify-content: center;
}

// Fonts
.arial { font-family: Arial; }
.monospace { font-family: monospace; }
.times-new-roman { font-family: 'Times New Roman', Times, serif; }
.github {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

