.center-object {
  @include transform(translate(-50%, -50%));
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
}

.fullscreen {
  background-color: map-get($colours, highlight);
  position: relative;

  .background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) brightness(50%);
    height: 100%;
    width: 100%;

    &.slideshow {
      @include transition(opacity 1s ease-in);
      position: absolute;
    }
  }

  .me {
    justify-content: center;
    width: 100%;
  }

  &.half {
    .background { height: 50%; }
    .center-object {
      .btn { padding: 0 20px; }
      .me {
        .image-title {
          height: 6em;
          width: 6em;
        }

        .title { font-size: 4rem; }
        .undertitle { font-size: 1.75rem; }
      }
    }
  }

}

.me {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1rem 0;
  z-index: 10;

  &.unset {
    flex-direction: unset;

    .image-title { margin-right: .25em; }

    .unset {
      margin-left: .5em;

      .title, .undertitle {
        flex-direction: column;
        margin: 0;
      }
    }

  }

  .image-title {
    border-radius: 100%;
    height: 9em;
    width: 9em;

    &.large-border { border-radius: 25px; }
    &.medium-border { border-radius: 15px; }
    &.small-border { border-radius: 5px; }
    &.no-border { border-radius: 0; }
  }

  .title {
    filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, .4));
    font-size: 5rem;
    letter-spacing: 1px;
    margin: .25em;
  }

  .undertitle {
    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .4));
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin: 0;
  }
}
