@import '../assets/colours';
@import '../assets/crossbrowser';
@import '../assets/builders';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

html { font-size: 62.5%; }
body {
  background: map-get($colours, highlight);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
}

html, body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 0;
}

input:not([type="checkbox"]), select, textarea {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  height: 38px;
  padding: 6px 10px;
}

input, textarea, select, fieldset {
  margin-bottom: 1.5rem;
}

label, legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

p { margin-top: 0; }
a { color: #1eaedb; text-decoration: none; &:hover { color: #0fa0ce; }}
h1 { font-size: 4rem; letter-spacing: -.1rem; line-height: 1.2; }
h2 { font-size: 3.6rem; letter-spacing: -.1rem; line-height: 1.25; }
h3 { font-size: 3rem; letter-spacing: -.1rem; line-height: 1.3; }
h4 { font-size: 2.4rem; letter-spacing: -.08rem; line-height: 1.35; }
h5 { font-size: 1.8rem; letter-spacing: -.05rem; line-height: 1.5; }
h6 { font-size: 1.5rem; letter-spacing: 0; line-height: 1.6; }

// Larger than phablet
@media (min-width: 550px) {
  h1 { font-size: 5rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 3px 1px -2px rgba(0, 0, 0, .2),
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

// Changeing value of elements
.bold { font-weight: bold !important; }
.center-text { text-align: center !important; }
.left-text { text-align: left !important; }
.right-text { text-align: right !important; }
.full-width { width: 100% !important; }
.half-width { width: 50% !important; }
.no-border { border: 0 !important; }
.no-border-radius { border-radius: 0 !important; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.no-select { @include prefix(user-select, none); }
.transparent { background: transparent !important; }
.center {
  display: block !important;
  margin: 0 auto !important;
  text-align: center !important;
}

// All colours
@each $name, $code in $colours {
  .#{$name} { background-color: $code !important; }
  .#{$name}-text { color: $code !important; }
  .#{$name}-dropshadow { @include dropshadow($code); }
}
