@import '../assets/colours';
@import '../assets/builders';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body { background: $highlight; }
html, body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 1.5em;
  padding: 0 2em;
  position: relative;
  width: 100%;
}

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 3px 1px -2px rgba(0, 0, 0, .2),
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

// Changeing value of elements
.bold { font-weight: bold; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.transparent { background: transparent; }
.center-text { text-align: center; }
.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

// All colours
@each $name, $code in $colours {
  .#{$name} { background-color: $code; }
  .#{$name}-text { color: $code; }
  .#{$name}-dropshadow { @include dropshadow($code, false); }
}
