html, body {
  background: $highlight;
  color: $white;
  font-weight: normal;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
  margin-top: 0;
}

input, select, textarea {
  background-color: $secondary;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: $white;
  height: 38px;
  padding: 6px 10px;
}

input[type="checkbox"], input[type="radio"] {
  height: auto;
  padding: initial;
}

input, textarea, select, fieldset {
  margin-bottom: 1rem;
}

label, legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

form { margin-bottom: 0; }

p { margin-top: 0; }
a { color: $accent-primary; text-decoration: none; &:hover { color: $accent-secondary; }}
h1 { font-size: 3.8rem; letter-spacing: -.1rem; line-height: 1.2; }
h2 { font-size: 3.4rem; letter-spacing: -.1rem; line-height: 1.25; }
h3 { font-size: 2.8rem; letter-spacing: -.1rem; line-height: 1.3; }
h4 { font-size: 2.2rem; letter-spacing: -.08rem; line-height: 1.35; }
h5 { font-size: 1.7rem; letter-spacing: -.05rem; line-height: 1.5; }
h6 { font-size: 1.5rem; letter-spacing: 0; line-height: 1.6; }

// Larger than phablet
@media (min-width: 550px) {
  h1 { font-size: 4.7rem; }
  h2 { font-size: 3.9rem; }
  h3 { font-size: 3.3rem; }
  h4 { font-size: 2.7rem; }
  h5 { font-size: 2.1rem; }
  h6 { font-size: 1.5rem; }
}
