html, body {
  height: 100%;
  margin: 0 auto;
}

input[type="checkbox"], input[type="radio"] {
  height: auto;
  padding: initial;
}

input, textarea, select, fieldset {
  margin-bottom: 1rem;
}

label, legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

form { margin-bottom: 0; }

