// Source from skeleton.css
.container {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 2.5em;
  margin-top: 1.5em;
  padding: 0 2em;
  position: relative;
  width: 100%;
}

.column, .columns {
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.row {
  .column {
    margin-left: 4%;
    &:first-child { margin-left: 0; }
  }

  .one-full.column { width: 95%; }
  .one-half.column { width: 48%; }
  .one-third.column { width: 30.6666666667%; }
  .one-fourth.column { width: 21.9999999999%; }

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
