@import 'assets/crossbrowser';

@include keyframes(button-enter) {
  from { opacity: 0; top: 2em; }
  70% { top: -.3em; }
  100% { opacity: 1; top: 0; }
}

@include keyframes(bounce-button) {
  from, 20%, 53%, 80%, to {
    @include transform(translate3d(0, 0, 0));
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  40%, 43% {
    @include transform(translate3d(0, -30px, 0));
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
  }

  70% {
    @include transform(translate3d(0, -15px, 0));
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
  }

  90% {
    @include transform(translate3d(0, -4px, 0));
  }
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% { @include transform(translateY(0)); }
  40% { @include transform(translateY(-30px)); }
  60% { @include transform(translateY(-15px)); }
}

@include keyframes(fading) {
  from { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(load) {
  0%, 80%, 100% {
    box-shadow: 0 0, 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -1.75em, 0 1.75em;
    height: 4em;
  }
}

@include keyframes(fading-modal-in) {
  from { @include transform(translateY(3.5em)); opacity: 0; }
  70% { @include transform(translateY(-1em)); }
  100% { @include transform(translateY(0)); opacity: 1; }
}

@include keyframes(fading-modal-out) {
  from { @include transform(translateY(0)); opacity: 1; }
  30% { @include transform(translateY(-1em)); }
  100% { @include transform(translateY(3.5em)); display: none; opacity: 0; }
}
