@import 'assets/crossbrowser';

@include keyframes(button-enter) {
  from { @include transform(translateY(2em)); opacity: 0; }
  70% { @include transform(translateY(-.3em)); }
  100% { @include transform(translateY(0)); opacity: 1; }
}

@include keyframes(load) {
  0%, 80%, 100% {
    box-shadow: 0 0, 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -1.75em, 0 1.75em;
    height: 4em;
  }
}

@include keyframes(fading-modal-in) {
  from { @include transform(translateY(3.5em)); opacity: 0; }
  70% { @include transform(translateY(-1em)); }
  100% { @include transform(translateY(0)); opacity: 1; }
}

@include keyframes(fading-modal-out) {
  from { @include transform(translateY(0)); opacity: 1; }
  30% { @include transform(translateY(-1em)); }
  100% { @include transform(translateY(3.5em)); display: none; opacity: 0; }
}
