.markdown-container {
  color: #ecf0f1;
  font-size: 16px;
  line-height: 1.5;
  margin: 1em auto;
  max-width: 1012px;
  padding: 0 2em;
  // scss-lint:disable VendorPrefix
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  // scss-lint:enable VendorPrefix
  word-wrap: break-word;

  .pl-c { color: #6a737d; }
  .pl-c1, .pl-s .pl-v { color: #005cc5; }
  .pl-e, .pl-en { color: #6f42c1; }
  .pl-smi, .pl-s .pl-s1 { color: #24292e; }
  .pl-ent { color: #22863a; }
  .pl-k { color: #d73a49; }
  .pl-s, .pl-pds, .pl-s .pl-pse .pl-s1 { color: #032f62; }

  .pl-sr {
    color: #032f62;
    .pl-cce, .pl-sre, .pl-sra { color: #032f62; }
    .pl-cce {
      color: #22863a;
      font-weight: bold;
    }
  }

  .pl-v, .pl-smw { color: #e36209; }
  .pl-bu { color: #b31d28; }

  .pl-ii {
    background-color: #b31d28;
    color: #fafbfc;
  }

  .pl-c2 {
    background-color: #d73a49;
    color: #fafbfc;

    &::before {
      content: '^M';
    }
  }

  .pl-ml { color: #735c0f; }

  .pl-mh {
    color: #005cc5;
    font-weight: bold;

    .pl-en {
      color: #005cc5;
      font-weight: bold;
    }
  }

  .pl-ms {
    color: #005cc5;
    font-weight: bold;
  }

  .pl-mi {
    color: #24292e;
    font-style: italic;
  }

  .pl-mb {
    color: #24292e;
    font-weight: bold;
  }

  .pl-md {
    background-color: #ffeef0;
    color: #b31d28;
  }

  .pl-mi1 {
    background-color: #f0fff4;
    color: #22863a;
  }

  .pl-mc {
    background-color: #ffebda;
    color: #e36209;
  }

  .pl-mi2 {
    background-color: #005cc5;
    color: #f6f8fa;
  }

  .pl-mdr {
    color: #6f42c1;
    font-weight: bold;
  }

  .pl-ba { color: #586069; }
  .pl-sg { color: #959da5; }

  .pl-corl {
    color: #032f62;
    text-decoration: underline;
  }

  .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
  }

  a {
    background-color: transparent;
    color: #0366d6;
    text-decoration: none;

    &:hover { text-decoration: underline; }

    &:active, &:hover {
      outline-width: 0;
    }
  }

  strong { font-weight: 600; }

  code, kbd, pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  input {
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    overflow: visible;
  }

  [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }

  * { box-sizing: border-box; }

  hr {
    background: transparent;
    background-color: $secondary;
    border: 0;
    border-bottom: 1px solid $secondary;
    border-bottom-color: $secondary;
    box-sizing: content-box;
    height: .25em;
    margin: 24px 0;
    overflow: hidden;
    padding: 0;

    &::before {
      content: '';
      display: table;
    }

    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }

  td, th { padding: 0; }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
  }

  h1 {
    border-bottom: 1px solid $secondary;
    font-size: 2em;
    font-weight: 600;
    margin: .67em 0;
    padding-bottom: .3em;
  }

  h2 {
    border-bottom: 1px solid $secondary;
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: .3em;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 600;
  }

  h4 {
    font-size: 1em;
    font-weight: 600;
  }

  h5 {
    font-size: .875em;
    font-weight: 600;
  }

  h6 {
    color: #6a737d;
    font-size: .85em;
    font-weight: 600;
  }

  p {
    margin-bottom: 10px;
    margin-top: 0;
  }

  blockquote {
    border-left: .25em solid #7f8c8d;
    color: #bdc3c7;
    margin: 0;
    padding: 0 1em;

    > {
      :first-child { margin-top: 0; }
      :last-child { margin-bottom: 0; }
    }
  }

  ul, ol { padding-left: 2em; }

  ol {
    margin-bottom: 0;
    margin-top: 0;

    ol { list-style-type: lower-roman; }
    ul ol, ol ol { list-style-type: lower-alpha; }

    ol, ul {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  ul {
    margin-bottom: 0;
    margin-top: 0;

    ol { list-style-type: lower-roman; }
    ul ol, ol ol { list-style-type: lower-alpha; }

    ul, ol {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  dd { margin-left: 0; }

  .pl-0 { padding-left: 0 !important; }
  .pl-1 { padding-left: 4px !important; }
  .pl-2 { padding-left: 8px !important; }
  .pl-3 { padding-left: 16px !important; }
  .pl-4 { padding-left: 24px !important; }
  .pl-5 { padding-left: 32px !important; }
  .pl-6 { padding-left: 40px !important; }

  &::before {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  > * {
    &:first-child { margin-top: 0 !important; }
    &:last-child { margin-bottom: 0 !important; }
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;

    &:focus {
      outline: none;
    }
  }

  p, blockquote, ul, ol, dl, table, pre {
    margin-bottom: 16px;
    margin-top: 0;
  }

  h1 .octicon-link, h2 .octicon-link, h3 .octicon-link, h4 .octicon-link, h5 .octicon-link, h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
  }

  h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    text-decoration: none;
  }

  h1:hover .anchor .octicon-link, h2:hover .anchor .octicon-link, h3:hover .anchor .octicon-link, h4:hover .anchor .octicon-link, h5:hover .anchor .octicon-link, h6:hover .anchor .octicon-link {
    visibility: visible;
  }

  li {
    word-wrap: break-all;
    > p { margin-top: 16px; }
    + li { margin-top: .25em; }
  }

  dl {
    padding: 0;

    dt {
      font-size: 1em;
      font-style: italic;
      font-weight: 600;
      margin-top: 16px;
      padding: 0;
    }

    dd {
      margin-bottom: 16px;
      padding: 0 16px;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    color: #fff;
    display: block;
    overflow: auto;
    width: 100%;

    th {
      border: 1px solid #353535;
      font-weight: 600;
      padding: 6px 13px;
    }

    td {
      border: 1px solid #353535;
      padding: 6px 13px;
    }

    tr {
      background-color: $primary;
      border-top: 1px solid #353535;

      &:nth-child(2n) {
        background-color: $secondary;
      }
    }
  }

  img {
    background-color: #fff;
    border-style: none;
    box-sizing: content-box;
    max-width: 100%;

    &[align=right] {
      padding-left: 20px;
    }

    &[align=left] {
      padding-right: 20px;
    }
  }

  code {
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
  }

  .highlight {
    background: $secondary !important;
    color: #d0d0d0;

    pre {
      background-color: #f6f8fa;
      border-radius: 3px;
      font-size: 85%;
      line-height: 1.45;
      margin-bottom: 0;
      overflow: auto;
      padding: 16px;
      word-break: normal;
    }

    table {
      td { padding: 5px; }
      pre { margin: 0; }
    }

    .err {
      background-color: #ac4142;
      color: #151515;
    }

    .w { color: #d0d0d0; }
    .c, .cd, .cm, .c1, .cs { color: #888; }
    .cp, .nt { color: #f4bf75; }
    .o, .ow, .p, .pi { color: #cb4b16; }
    .gi { color: #90a959; }
    .gd { color: #ac4142; }
    .gh { color: #268bd2; font-weight: bold; }
    .k, .kn, .kp, .kr, .kv { color: #aa759f; }
    .kc, .kt, .kd { color: #d28445; }
    .s, .sb, .sc, .sd, .s2, .sh, .sx, .s1 { color: #90a959; }
    .sr { color: #75b5aa; }
    .si, .se { color: #8f5536; }
    .nn, .nc, .no { color: #f4bf75; }
    .na { color: #6a9fb5; }
    .m, .mf, .mh, .mi, .il, .mo, .mb, .mx, .ss { color: #90a959; }
  }

  .highlighter-rouge {
    background: $secondary !important;
    border: 1px solid $secondary;
    color: #d0d0d0;
  }

  pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 85%;
    line-height: 1.45;
    margin-bottom: 0;
    margin-top: 0;
    overflow: auto;
    padding: 16px;
    word-wrap: normal;

    > code {
      background: transparent;
      border: 0;
      font-size: 100%;
      margin: 0;
      padding: 0;
      white-space: pre;
      word-break: normal;
    }

    code {
      background-color: transparent;
      border: 0;
      display: inline;
      line-height: inherit;
      margin: 0;
      max-width: auto;
      overflow: visible;
      padding: 0;
      word-wrap: normal;
    }
  }

  .full-commit .btn-outline:not(:disabled):hover {
    border-color: #005cc5;
    color: #005cc5;
  }

  kbd {
    background-color: #fafbfc;
    border: solid 1px #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
    color: #444d56;
    display: inline-block;
    font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }

  :checked + .radio-label {
    border-color: #0366d6;
    position: relative;
    z-index: 1;
  }

  .task-list-item {
    list-style-type: none;

    + .task-list-item {
      margin-top: 3px;
    }

    input {
      margin: 0 .2em .25em -1.6em;
      vertical-align: middle;
    }
  }

}
