@import '../assets/crossbrowser';

// Main window
.modal {
  @include animation('fading-modal-in 600ms ease-in-out');
  background-color: rgba(0, 0, 0, .4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal--close {
  @include animation('fading-modal-out 600ms ease-in-out');
}

// Modal Content
.modal-content {
  background-color: #272727;
  font-family: Arial;
  margin: auto;
  padding: 20px;
  width: 80%;

  * { color: #fff; }
  p { margin: 5px; }
  ul, li {
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }

  // The Close Button
  .close {
    color: #bbb;
    float: right;
    font-size: 2.5em;
    font-weight: bold;
    margin-right: -.1em;
    margin-top: -.7em;

    &:hover, &:focus {
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
