.nav-bar {
  height: 3em;
  background: #303030;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;

  .nav-container {
    padding: 0 1em;

    h1, h2, h3, h4, h5, h6 {
      margin: .1em 0;
      font-size: 2em;
      display: inline-block;
    }

    nav {
      float: right;
      display: inline-flex;

      .nav-bars { display: none; }

      .nav-inner {
        display: contents;
        opacity: 0;

        .nav-scroller {
          display: contents;

          a {
            font-size: 1.5em;
            margin: .25em .5em;
            @include transition('filter 200ms ease');
    
            &:hover {
              @include transition('filter 200ms ease');
              filter: brightness(65%);
            }
    
            &.selected {
              color: $white;
              &:hover { filter: brightness(100%); }
            }
          }
        }
      }

      &.nav--collapse {
        .nav-bars {
          display: inline-block;
          width: 2em;
          height: 2em;
          margin: .25em 0;
          border-radius: 5px;
          z-index: 15;
          background: url('https://api.iconify.design/ei:navicon.svg?color=white') no-repeat center center / contain;
  
          &:hover + .nav-inner {
            opacity: 1;
            pointer-events: initial;
          }
        }
  
        .nav-inner {
          position: absolute;
          right: 1em;
          display: flex;
          flex-direction: column;
          vertical-align: middle;
          z-index: 10;
          background: #181818;
          margin-top: 2.5em;
          border-radius: 0 0 5px 5px;
          pointer-events: none;
  
          .nav-scroller {
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            overflow: auto;
            max-height: 15em;

            &::-webkit-scrollbar {
              width: 5px;
            }
            
            &::-webkit-scrollbar-thumb {
              border: 3px solid #303030;
              border-radius: 7px;
            }
          }
  
          &:before {
            content: '';
            position: absolute;
            height: 2.5em;
            width: 100%;
            margin-top: -2.5em;
            background: #181818;
            border-radius: 5px 5px 0 0;
          }
  
          &:hover {
            opacity: 1;
            pointer-events: initial;
          }
        }
      }
    }
  }
}