.nav-bar {
  background: $secondary;
  display: flex;
  flex-direction: row;
  height: 3em;
  justify-content: center;
  vertical-align: middle;
  z-index: 5;

  .nav-bars {
    @include transition('background-color 200ms ease');
    background: url('https://api.iconify.design/ei:navicon.svg?color=white') no-repeat center center / contain;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: inline-block;
    height: 3em;
    padding: 0 .5em;
    width: 3em;

    &.nav--expand {
      @include transition('background-color 200ms ease');
      background-color: $highlight;
      background-image: url('https://api.iconify.design/ic:outline-close.svg?color=white');

      +.nav {
        @include transition('transform 200ms ease');
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .nav-close {
    background: url('https://api.iconify.design/ic:outline-close.svg?color=white') no-repeat center center / contain #222;
    cursor: pointer;
    height: 3em;
    left: 0;
    margin-top: -4em;
    padding: 0 .5em;
    position: absolute;
    width: calc(100% - 1em);
  }

  &.fixed {
    position: fixed;
    width: 100%;

    .nav-close {
      display: none;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    font-size: 2em;
    margin: .1em .25em;
    width: 100%;
  }

  .nav {
    @include transition('transform 200ms ease');
    background: $highlight;
    display: flex;
    height: calc(100% - 5em);
    left: 0;
    margin-top: 3em;
    padding: 1em;
    position: fixed;
    transform: translate3d(-100%, 0, 0);
    z-index: 10;

    .nav-scroller {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border: 3px solid $secondary;
        border-radius: 7px;
      }
    }

    a {
      @include transition('filter 200ms ease');
      font-size: 1.5em;
      margin: .25em .5em;

      &:hover {
        @include transition('filter 200ms ease');
        filter: brightness(65%);
      }

      &.selected {
        color: $white;
        pointer-events: none;

        &:hover {
          filter: brightness(100%);
        }
      }

      @for $x from 1 through 5 {
        &.indent-#{$x} {
          font-size: 1em;
          padding-left: .5em * $x;
        }
      }
    }
  }
}
