@import '../assets/colours';
@import '../assets/crossbrowser';

$heigth-control: 4em;

.nav-container {
  align-items: center;
  background: $primary;
  border-bottom: 4px solid $secondary;
  display: flex;
  flex-direction: column;
  height: $heigth-control;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &.default {
    background: transparent;
    border-bottom: 0;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 1100px;

    #menu-icon { display: none; }

    .nav-title {
      float: left;
      font-size: 20px;
      margin-left: .4em;
      padding: .5em 0;
      text-align: left;
    }

    .sidenav {
      @include transform(none);
      background-color: transparent;
      height: auto;
      margin-right: .4em;
      position: relative;
      text-align: right;
      width: auto;

      .current { color: #2ecc71; }

      a {
        @include transition(.3s);
        color: #818181;
        display: inline-block;
        font-size: 20px;
        margin: 0 .3em;
        padding: .4em 0;
        text-decoration: none;

        &:hover {
          color: #f1f1f1;
          transform: none;
        }
      }
    }
  }

  #menu-icon {
    background: #4c8fec url('images/menu-icon.png') center;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    left: 0;
    margin: 11px;
    position: absolute;
    top: 0;
    width: 40px;
  }

  .nav-title {
    margin: 0;
    text-align: center;
  }

  .nav-content {
    align-items: center;
    display: flex;
    height: $heigth-control;
    padding-left: 1em;
    &.nav-button { padding-left: 65px; }
    * { margin: 0; }
  }

  .sidenav {
    @include transform(translateX(-250px));
    background-color: $highlight;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 250px;
    z-index: 1;

    .current { color: #2ecc71; }

    a {
      color: #818181;
      display: block;
      font-size: 25px;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      transition: .3s;

      &:hover {
        color: #f1f1f1;
        transform: translateX(.5em);
      }
    }

  }
}
