@import '../assets/colours';
@import '../assets/crossbrowser';

// Loading container
$heigth-control: 3em;

.loader, .loader::before, .loader::after {
  @include animation(load 1s infinite ease-in-out);
  background: #fff;
  height: $heigth-control;
  width: 1em;
}

.loader {
  animation-delay: -.16s;
  color: #fff;
  font-size: 11px;
  margin: $heigth-control auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);

  &::before {
    animation-delay: -.32s;
    left: -1.5em;
  }

  &::after {
    left: 1.5em;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
  }
}


// Box container
.box-container {
  border-radius: 10px;
  margin-bottom: 2.5em;
  padding: 1em;

  @each $name, $code in $colours {
    &.#{$name} {
      @include dropshadow($code);
    }

    &.#{$name}-flat {
      background-color: $code;
    }
  }
}


// Card container
.card-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;

  .card {
    background-color: $primary;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2),
                0 0 0 1px rgba(32, 34, 37, .6);
    display: block;
    font-family: arial;
    margin: 0 .05em;
    margin-top: 2em;
    text-align: center;
    width: 350px;

    .avatar {
      background-color: $highlight;
      border-radius: 6px 6px 0 0;
      padding: .75em 0;

      img {
        border-radius: 100%;
        margin: .5em 0;
        width: 7em;
      }
    }

    .title {
      display: block;
      font-size: 26px;
      margin-bottom: 0;
      margin-top: .3em;
    }

    .description {
      color: #808080;
      font-size: 18px;
      margin-bottom: .3em;
      &.link { color: #2980b9; }
    }

    .footer {
      background-color: $secondary;
      border-radius: 0 0 6px 6px;
      display: block;
      padding: .6em 0;
      padding-bottom: 1em;

      * {
        margin: 0 .75em;
        margin-bottom: 0;
        text-align: left;
        * { margin: 0; }
      }

      a {
        color: #2980b9;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
}


// Table container
.table-container {
  display: inline-block;
  margin-bottom: .75em;
  text-align: left;

  table {
    border: 1px solid rgba(0, 0, 0, .12);
    border-collapse: collapse;
    font-size: 13px;
    margin: 0;
    margin-bottom: 2.5rem;
    max-width: 800px;
    padding: 0;
    position: relative;
    white-space: nowrap;
    width: auto;

    tr {
      border: 1px solid #ddd;
      padding: 5px;
    }

    th, td {
      padding: 12px 20px;
      padding-bottom: 8px;
    }

    th {
      box-sizing: border-box;
      font-size: 12px;
      font-weight: 700;
      height: 48px;
      letter-spacing: 0;
      line-height: 24px;
      padding: 12px 20px;
      padding-bottom: 8px;
      position: relative;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: bottom;
    }
  }

  &.table-center {
    display: block;
    text-align: center;
    table { margin: 0 auto; }
  }
}

// Forms container
.form-container {
  form { margin-bottom: 0; }
}
