@import '../assets/colours';

@media (max-width: 750px) {
  .center-object {
    top: 45%;
    width: 90%;

    .me {
      margin: 0 1em;
      padding: 0;

      .title { font-size: 5rem; margin: 0; }
      .image-title { width: 8em; }
    }
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .btn {
      align-items: center;
      display: flex;
      font-size: 18px;
      justify-content: center;
      line-height: 20px;
      padding: 25px 0;
      text-align: center;
      white-space: pre-line;
      width: calc(45% - 30px);
    }
  }
}

@media screen and (max-width: 600px) {
  .table-container {
    table {
      border: 0;
      filter: none;
      width: 100%;

      thead { display: none; }

      tr {
        border-bottom: 3px solid #aaa;
        display: block;
        margin-bottom: 10px;
      }

      td {
        border-bottom: 1px dotted #ccc;
        display: block;
        font-size: 13px;
        &:first-child { font-weight: bold; }
        &:last-child { border-bottom: 0; }

        &::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

    }

  }
}

// For devices larger than 400px
@media (max-width: 400px) {
  .container { padding: 0; width: 85%; }
}

@media (max-width: 550px) {
  .container { width: 90%; }
  .nav-container {
    &.no-nav {
      display: block;
      height: 3em;
      position: static;
    }
  }
}
