@media (max-width: 750px) {
  .markdown-container {
    padding: 2em 3em;
  }

  .paper-container .paper { padding: 40px 28px; }

  .fullscreen .center-object, .center-object {
    top: 45%;
    width: 90%;
  }

  .me {
    padding: 0;

    .title { font-size: 10vmin; margin: 0; }
    .image-title { height: 7em; width: 7em; }

    &.unset {
      flex-direction: column;
    }
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .btn {
      align-items: center;
      display: flex;
      font-size: 18px;
      justify-content: center;
      line-height: 20px;
      padding: 25px 0;
      text-align: center;
      white-space: pre-line;
      width: calc(45% - 30px);

      // Support for FontAwesome icons
      i { margin-right: 10px; }
    }

    &.one-line .btn {
      padding: 14px 8px;
      width: 75%;
    }
  }
}

@media screen and (max-width: 600px) {
  .table-container {
    table {
      border: 0;
      filter: none;
      width: 100%;

      thead { display: none; }

      tr {
        border-bottom: 3px solid #aaa;
        display: block;
        margin-bottom: 10px;
      }

      td {
        border-bottom: 1px dotted #ccc;
        display: block;
        font-size: 13px;
        &:first-child { font-weight: bold; }
        &:last-child { border-bottom: 0; }

        &::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

    }

  }
}

@media screen and (max-width: 650px) {
  .nav-container.default {
    display: flex;

    .nav-title {
      margin-left: 0;
      padding: 0;
      text-align: center;
    }

    .sidenav {
      margin-right: 0;
      padding: 0;
      text-align: center;
    }
  }
}

// For devices smaller than 550px
@media (max-width: 550px) {
  .paper-container {
    display: block;

    .paper {
      background: map-get($colours, primary);
      &::before { display: none; }
    }
  }

  .workcard-container {
    .card, .card img, .card .overlay, .card .overlay .text {
      height: auto;
      width: 100%;
    }
  }

  .container {
    margin: 0;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
    padding: 0;
    width: 100%;
  }

  .nav-container {
    &.no-nav {
      display: block;
      height: 3em;
      position: static;
    }
  }

  // scss-lint:disable EmptyLineBetweenBlocks, SpaceBeforeBrace
  .row {
    .column { margin-left: 0; }
    .one-half.column, .one-third.column, .one-fourth.column {
      width: 100%;
    }
  }
  // scss-lint:enable EmptyLineBetweenBlocks, SpaceBeforeBrace

  .flex-grid {
    .col-xs,
    .col-xs-1, .col-xs-2, .col-xs-3,
    .col-xs-4, .col-xs-5, .col-xs-6,
    .col-xs-7, .col-xs-8, .col-xs-9,
    .col-xs-10, .col-xs-11, .col-xs-12 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0;
      width: 100%;
    }
  }
}
