<!-- DEBUG: {{ page.path }} -->
<html>
  <head>
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- Twitter & OpenGraph data -->
    <meta name="twitter:site" content="@AlexFlipnote">
    <meta name="twitter:creator" content="@AlexFlipnote">
    <meta name="twitter:title" content="{{ site.title }} - {{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="https://modesta.alexflipnote.dev{{ page.permalink }}">

    <!-- Image meta -->
    <meta name="twitter:image" content="https://modesta.alexflipnote.dev/assets/cover.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="https://modesta.alexflipnote.dev/assets/cover.png">
    <meta property="og:image:secure" content="https://modesta.alexflipnote.dev/assets/cover.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="Modesta Cover">


    <!-- Other meta data -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="#7fb4b9">
    <meta name="revisit-after" content="2 days">
    <meta name="keywords" content="framework, css, easy-to-use, scss, modestacss, clean, flat, modern">
    <link rel="icon" type="image/svg+xml" href="/assets/icon.svg">
    <meta content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title" />

    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description" />
    <meta content="{{ page.description }}" name="description" />
    <meta content="{{ page.description }}" name="twitter:description">
    {% endif %}

    <!-- CSS -->
    <link href="css/modesta.css" type="text/css" rel="stylesheet">
    <link href="css/twemoji.css" type="text/css" rel="stylesheet">
    <link href="css/blobcat.css" type="text/css" rel="stylesheet">
  </head>
  <body class="github-font-standard">
    <header class="nav-bar">
      <span class="nav-bars"></span>
      <section class="nav">
        <span class="nav-close"></span>
        <div class="nav-scroller">
          {% for pagedocs in site.pages %}
            {% unless pagedocs.url contains "/examples/" %}
              {% if page.title == pagedocs.title %}
                <a href="{{ pagedocs.url }}" class="selected">{{ pagedocs.title }}</a>
              {% else %}
                <a href="{{ pagedocs.url }}">{{ pagedocs.title }}</a>
              {% endif %}
            {% endunless %}
          {% endfor %}
        </div>
      </section>
      <img src="/assets/logo.svg" alt="Modesta" width="150">
      <h1><i>- {{ page.title }}</i></h1>
    </header>
    <div class="markdown-container">
      {{ content }}
    </div>

    <!-- JS -->
    <script src="js/modesta.js" type="text/javascript" charset="utf-8"></script>

    <script>
      var headings = document.querySelectorAll("h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]");
      for (var i = 0; i < headings.length; i++) {
        headings[i].innerHTML =
          '<a style="color: #fff;" href="#' + headings[i].id + '">'
          + headings[i].innerText +
          '</a>';
      }
      </script>

  </body>
</html>
