<!-- DEBUG: {{ page.path }} -->
<html>
  <head>
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- Meta data -->
    <meta content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title" />
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description" />
    <meta content="{{ page.description }}" name="description" />
    {% endif %}

    <!-- CSS -->
    <link href="css/modesta.css" type="text/css" rel="stylesheet">
    <link href="css/twemoji.css" type="text/css" rel="stylesheet">
    <link href="css/blobcat.css" type="text/css" rel="stylesheet">
  </head>
  <body class="github-font-standard">
    <header class="nav-bar">
      <div class="nav-container">
        <h1>{{ site.title }} - {{ page.title }}</h1>
        <nav>
          <span class="nav-bars"></span>
          <div class="nav-inner">
            <div class="nav-scroller">
              {% for pagedocs in site.pages %}
                {% unless pagedocs.url contains "/examples/" %}
                  {% if page.title == pagedocs.title %}
                    <a href="{{ pagedocs.url }}" class="selected">{{ pagedocs.title }}</a>
                      {% else %}
                    <a href="{{ pagedocs.url }}">{{ pagedocs.title }}</a>
                  {% endif %}
                {% endunless %}
              {% endfor %}
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="markdown-container">
      {{ content }}
    </div>

    <!-- JS -->
    <script src="js/modesta.js" type="text/javascript" charset="utf-8"></script>

    <script>
      var headings = document.querySelectorAll("h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]");
      for (var i = 0; i < headings.length; i++) {
        headings[i].innerHTML =
          '<a style="color: #fff;" href="#' + headings[i].id + '">'
          + headings[i].innerText +
          '</a>';
      }
      </script>

  </body>
</html>
