<!-- DEBUG: {{ page.path }} -->
<html>
  <head>
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="../css/modesta.css" type="text/css" rel="stylesheet">
    <link href="../css/twemoji.css" type="text/css" rel="stylesheet">
    <link href="../css/blobcat.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="markdown-container github-font-standard">
      {{ content }}
    </div>
    <script src="../js/modesta.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
