.paper-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .paper {
    border-radius: 2px;
    margin: 1em .75em;
    margin-bottom: 80px;
    margin-top: -35vh;
    max-width: 1012px;
    min-height: 500px;
    padding: 80px 56px;
    position: relative;

    &::before {
      border-style: solid;
      border-width: 0 36.5px 36.5px 0;
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
    }
  }

  .ribbon {
    height: 40vh;
    width: 100%;
  }
}
